:root {
    --window-bg-color: #181818;
    --view-bg-color: #181818;
    --popover-bg-color: #202020;
    --dialog-bg-color: #202020;

    --sidebar-bg-color: #1f1f1f;
    --secondary-sidebar-bg-color: #1f1f1f;
    --sidebar-backdrop-color: #1f1f1f;
    --secondary-sidebar-backdrop-color: #1f1f1f;

    --card-bg-color: #222222;
    --headerbar-bg-color: #181818;
}

toast {
    background-color: #303030;
    border: 1px solid #3a3a3a;
}
